<div class="row header">
  <div class="span12">
    <h1><a href="/">OrgHexagon</a></h1>
  </div>
  <div class="span12">
    <em>A subtitle goes here</em>    
  </div>
  <div class="hexagon-links span12">
    <a href="#">About</a>
    <a href="#">Link</a>
    <a href="#">Another Link</a>
  </div>
</div>
